.editable{
   width: 100%;
   
}
.editable_display{
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
 
}
.editable_display:hover{
    background-color: azure;
}
.editable_edit{
    display:flex;
    flex-direction: column;
    gap:10px;
   
    
}
.editable_edit input{
    border-radius: 3px;
    outline:none;
    border: 1px solid rgb(7, 46, 46);
    padding:10px;
    font-size: 1rem;
}
.editable_edit_footer{
    display:flex;
    gap: 10px;
    cursor: pointer;
}
X :hover{
    background-color: red;
}
.editable_edit_footer button{
    outline:none;
    cursor: pointer;
    transition: 200ms;
    padding: 2px 16px;
    border-radius: 10px;
    border:none;
    color:antiquewhite;
    background-color: rgb(22, 18, 236);
}
.editable_edit_footer button:hover{
    
    background-color: rgb(71, 15, 226);
}
