.board {
    min-width: 290px;
    width: 290px;
    max-height: 100%;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.board_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.board_top_more{
    position:relative;
    cursor: pointer;
}
.board_dropdown{
    
    background-color: rgb(245, 238, 237);
    width:70px;
    height: 30px ;
   border-radius: 4px;
   box-shadow: 2px 0 4px 0 black;  

}
.board_dropdown:hover{
    
    color: red;
   
   

}
.board_dropdown p{
    cursor: pointer;
    
    font-size:x-small;
}

.board_top_title{
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    align-items: center;
}
.board_top_title span{
    color: rgb(145, 145, 145);
}

.board_cards::-webkit-scrollbar{
   
    width: 8px;
    border-radius: 30px;
}
.board_cards::-webkit-scrollbar-track:hover{
    background-color: rgb(92, 13, 13);  
    width: 8px;
    border-radius: 30px;
}
.board_cards{
    background-color: aqua;
    height: 70%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;

}
.board_cards_add{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgb(59, 6, 6);
}


