.desc_icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 5rem;
}

.inside_container {
  height: 7rem;
  width: 35rem;
  border: 2px solid #2d64dc;
  margin: auto;
  margin-top: 0.5rem;
  margin-right: 1rem;
  position: absolute;
  position: relative;
  background-color: #f1f2f4;
  margin-left: 1rem;
}
.descr {
  margin-top: 5rem;
  color: #54627c;
  font-size: 1.5rem;
}
.save_btn {
  color: white;
  background-color: #2d64dc;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 4rem;
  border: none;
  font-size: large;
  border-radius: 0.2rem;
  cursor: pointer;
}
.save_btn:hover {
  background-color: #0055cc;
}
.cancel_btn {
  color: #4b5670;
  padding: 0.3rem;
  width: 4rem;
  border: none;
  font-size: large;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-left: -1rem;
}
.cancel_btn:hover {
  background-color: #d0d4db;
}

.share_icon {
  margin-right: 0.6rem;
  margin-top: 0.2rem;
}
.top_icons {
  display: flex;
  border-bottom: 2px solid #dcdfe4;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}
.right_icons {
  display: flex;
  gap: 0.8rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  align-items: center;
}

.left_sideicons {
  display: flex;
  margin-left: 0.5rem;
  gap: 0.3rem;
  font-size: 1.2rem;
  align-items: center;
}
textarea {
  outline: none;
  border: none;
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-size: 1rem;
}
.feedback {
  margin-left: 10rem;
  cursor: pointer;
  color: #2776e6;
}
.btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.activity_box {
  width: 35rem;
  height: 2.5rem;
  background-color: white;
  color: #52617a;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}
.activity_box p {
  color: #52617a;
}
.activity_box:hover {
  background-color: #f7f8f9;
}
.comment {
  margin-top: 1rem;
  width: 34rem;
  height: 2.5rem;
  background-color: white;
  color: #52617a;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  padding-left: 1rem;
}
 .edit,.delete{
  color: #8b94a5;
  padding-left: 1rem;
  cursor: pointer;

}

