.card {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  background-color: #c4bebe;
  min-width: 200px;
}
.card_top {
  display: flex;
  align-items: flex-start;
}
.card_top_labels {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  line-height: 21px;
}
.card_top svg {
  opacity: 0;
}
.card:hover .card_top svg {
  opacity: 1;
  color: rgb(3, 3, 3);
  transition: 200ms;
  color: green;
}
.card_title {
  display: flex;
  font-size: 1rem;
  line-height: 1rem;
  gap: 160px;
  color: #002133;
}
.card_title svg {
  opacity: 0;
}
.card:hover .card_title svg {
  font-size: small;
  opacity: 1;
  color: rgb(7, 7, 7);
  transition: 200ms;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_footer svg {
  height: 18px;
  width: 18px;
}
.card_footer p {
  display: flex;
  gap: 5px;
  align-items: center;
}
.card_top_more {
  margin-right: 1rem;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
}
.card_dropdown {
  background-color: rgb(245, 238, 237);
  width: 70px;
  height: 30px;
  border-radius: 4px;
}
.card_dropdown p {
  cursor: pointer;
  font-size: small;
}
.card_dropdown:hover {
  color: red;
}
