.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.card_top{
    display: flex;
    align-items: flex-start;
}
.card_top_labels{
    flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  line-height: 21px;

}
.card_top svg{
    opacity: 0;
   
}
.card:hover .card_top svg{
    opacity: 1;
    transition:200ms;
}
.card_title{
    flex: 1;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.875rem;

}
.card_footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card_footer svg{
    height: 18px;
    width:18px;
}
.card_footer p{
    display: flex;
    gap: 5px;
    align-items: center;
}
.card_top_more{
    position: relative;
    cursor: pointer;
}
.card_dropdown{
    background-color: rgb(245, 238, 237);
    width:70px;
    height: 30px ;
   border-radius: 4px;
   box-shadow: 2px 0 4px 0 black;   
}
.card_dropdown p{
    cursor: pointer;
    font-size:small;
}
.card_dropdown:hover{
    
    color: red;
   
   

}